**/*.jar
**/*.zip
**/*.json

/*/
/.console_history
/clean.sh
/eula.txt
/help.yml
!/config/

# World files
!world*/
world*/*
!world*/datapacks/

# Plugins
!plugins/
!plugins/*/
plugins/*/**

!plugins/*/config.yml
!plugins/dynmap/configuration.txt
!plugins/Spartan/checks.yml
!plugins/Spartan/settings.yml
plugins/EssentialsDiscord/config.yml # Contains secrets
